@import "../../assets/Variables.scss";

.app-button {
    background-color: $primary-color;
    border-radius: 12px;
    border: none;
    box-shadow: none;
    padding: 0 12px;
    height: 46px;
    cursor: pointer;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    color: #fff;
    transition: 0.3s;
    min-width: 138px;

    &:hover {
        background-color: $seconary-color;
        color: #fff;
    }

    &__inner-cotainer {
        @include flex-formatter(space-between, center, null);
        width: 80%;
    }
}
